<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="css" type="text/css" href="{{ asset('assets/css/main.css') }}" />
    </head>
    <body>
      {% block monkey %}{% endblock %}
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
